<header>
  <h1 class="uk-heading-line uk-text-center"><span>Flux Book Store Dashboard</span></h1>
</header>
<div class="mat-dialog-container">
  <mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-container">
        <input matInput placeholder="Author Name">
      </mat-form-field>

      <mat-form-field class="example-container">
        <input matInput placeholder="Author Surname">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<footer class="uk-text-center">Flux Book Store Dashboard</footer>
